spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5433/tours
spring.datasource.username=<username>
spring.datasource.password=<password>

spring.jpa.hibernate.ddl-auto=create
spring.jpa.show-sql=true
spring.jpa.generate-ddl=true
spring.jpa.database=postgresql
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

spring.mail.host=smtp.gmail.com
spring.mail.port=25
spring.mail.username=<username>
spring.mail.password=<password>
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

logging.level.org.springframework.web=INFO
logging.level.ivan.personal.tours.CityToursApplication=INFO

jwtSecret=a-string-secret-at-least-256-bits-long
jwtExpiration=86400

cors.allowed-origins=http://localhost:3000,http://another-domain.com
cors.allowed-methods=GET,POST,PUT,PATCH,DELETE,OPTIONS
cors.allowed-headers=Authorization,Content-Type,Accept-Language

app.mail.sender=sender@demo.com
app.upload-resource=upload
app.host=http://localhost:3000/home
app.dev.psw=123

