<div class="container dist-search">
  <div class="text-center">
    <app-title2 t_icon="format_list_bulleted" t_title="TITLE.SEARCH"></app-title2>
  </div>

  <mat-tab-group>
    <mat-tab *ngIf="countNews > 0">
      <ng-template mat-tab-label>
        <mat-icon class="dist-tab-icon">event</mat-icon>
        {{ elemType[0] | uppercaseAddTextPipe:'MODELS' | translate }}
      </ng-template>
      <mat-grid-list class="dist-search-card" cols="3" rowHeight="120">
        <mat-grid-tile *ngFor="let e of searchNews | async">
          <mat-card>
            <div><h3 class="mb-0">{{ e.elems.title }}</h3></div>
            <div>
              <mat-icon>navigate_next_icon</mat-icon>
              <a
                [routerLink]="['/news-detail', e.elems.id]">{{ 'LABELS.GO_TO' | translate }} {{ 'OPERATIONS.DETAIL' | translate }}</a>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab *ngIf="countDistricts > 0">
      <ng-template mat-tab-label>
        <mat-icon class="dist-tab-icon">store_mall_directory</mat-icon>
        {{ elemType[1] | uppercaseAddTextPipe:'MODELS' | translate }}
      </ng-template>
      <mat-grid-list class="dist-search-card" cols="3" rowHeight="120">
        <mat-grid-tile *ngFor="let e of searchDistricts | async">
          <mat-card>
            <div><h3 class="mb-0">{{ e.elems.denomination }}</h3></div>
            <div>
              <mat-icon>navigate_next_icon</mat-icon>
              <a
                [routerLink]="['/district-detail', e.elems.id]">{{ 'LABELS.GO_TO' | translate }} {{ 'OPERATIONS.DETAIL' | translate }}</a>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab *ngIf="countPois > 0">
      <ng-template mat-tab-label>
        <mat-icon class="dist-tab-icon">place</mat-icon>
        {{ elemType[2] | uppercaseAddTextPipe:'MODELS' | translate }}
      </ng-template>
      <mat-grid-list class="dist-search-card" cols="3" rowHeight="120">
        <mat-grid-tile *ngFor="let e of searchPois | async">
          <mat-card>
            <div><h3 class="mb-0">{{ e.elems.denomination }}</h3></div>
            <div>
              <mat-icon>navigate_next_icon</mat-icon>
              <a
                [routerLink]="['/poi-detail', e.elems.id]">{{ 'LABELS.GO_TO' | translate }} {{ 'OPERATIONS.DETAIL' | translate }}</a>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</div>
