::placeholder {
  color: white;
  opacity: 1;
}

mat-icon {
  font-size: 30px;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: white !important;;
}

::ng-deep.mat-form-field-underline {
  background-color: white !important;
}
