<footer class="" style="margin-top: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-google"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
            <li><a href="#"><i class="icon-vimeo"></i></a></li>
          </ul>
          <p>© Copyright CITY TOURS</p>
          <app-choose-lang></app-choose-lang>
        </div>
      </div>
    </div>
  </div>
</footer>
